USE [master]
GO
/****** Object:  Database [Almoxarifado]    Script Date: 3/8/2024 9:42:18 PM ******/
CREATE DATABASE [Almoxarifado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Almoxarifado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Almoxarifado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Almoxarifado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Almoxarifado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Almoxarifado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Almoxarifado]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[cat_id] [int] IDENTITY(1,1) NOT NULL,
	[cat_descricao] [varchar](255) NULL,
 CONSTRAINT [PK__categori__DD5DDDBDCE421EB6] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[dep_id] [int] IDENTITY(1,1) NOT NULL,
	[dep_descricao] [varchar](255) NULL,
	[dep_situacao] [bit] NULL,
 CONSTRAINT [PK__departam__BB4BD8F84F7A2B81] PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[fun_id] [int] IDENTITY(1,1) NOT NULL,
	[fun_nome] [varchar](255) NULL,
	[fun_cargo] [varchar](255) NULL,
	[fun_dataNacimento] [varchar](255) NULL,
	[fun_salario] [varchar](255) NULL,
	[fun_endereco] [varchar](255) NULL,
	[fun_cidade] [varchar](255) NULL,
	[fun_uf] [varchar](255) NULL,
 CONSTRAINT [PK__Funciona__35A47928D59F69CE] PRIMARY KEY CLUSTERED 
(
	[fun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemRequisicao]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRequisicao](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_preco] [decimal](10, 2) NULL,
	[item_quantidade] [int] NULL,
	[req_id] [int] NULL,
	[pro_id] [int] NULL,
 CONSTRAINT [PK__ItemRequ__52020FDDE8FF6C15] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivoSaida]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivoSaida](
	[mot_id] [int] IDENTITY(1,1) NOT NULL,
	[mot_descricao] [varchar](255) NULL,
	[cat_id] [int] NULL,
 CONSTRAINT [PK__MotivoSa__E0752241C9225504] PRIMARY KEY CLUSTERED 
(
	[mot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_nome] [varchar](255) NULL,
	[pro_img] [varchar](max) NULL,
	[pro_estoque] [int] NULL,
	[cat_id] [int] NULL,
 CONSTRAINT [PK__produtos__335E4CA6D5258034] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requisicao]    Script Date: 3/8/2024 9:42:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requisicao](
	[req_id] [int] IDENTITY(1,1) NOT NULL,
	[req_date] [datetime] NULL,
 CONSTRAINT [PK__requisic__1513A6FBBC4D53F0] PRIMARY KEY CLUSTERED 
(
	[req_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemRequisicao_pro_id]    Script Date: 3/8/2024 9:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemRequisicao_pro_id] ON [dbo].[ItemRequisicao]
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemRequisicao_req_id]    Script Date: 3/8/2024 9:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemRequisicao_req_id] ON [dbo].[ItemRequisicao]
(
	[req_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MotivoSaida_cat_id]    Script Date: 3/8/2024 9:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_MotivoSaida_cat_id] ON [dbo].[MotivoSaida]
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_produtos_cat_id]    Script Date: 3/8/2024 9:42:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_produtos_cat_id] ON [dbo].[produtos]
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[departamento] ADD  DEFAULT ((0)) FOR [dep_situacao]
GO
ALTER TABLE [dbo].[ItemRequisicao]  WITH CHECK ADD  CONSTRAINT [FK__ItemRequi__pro_i__0C85DE4D] FOREIGN KEY([pro_id])
REFERENCES [dbo].[produtos] ([pro_id])
GO
ALTER TABLE [dbo].[ItemRequisicao] CHECK CONSTRAINT [FK__ItemRequi__pro_i__0C85DE4D]
GO
ALTER TABLE [dbo].[ItemRequisicao]  WITH CHECK ADD  CONSTRAINT [FK__ItemRequi__req_i__0B91BA14] FOREIGN KEY([req_id])
REFERENCES [dbo].[requisicao] ([req_id])
GO
ALTER TABLE [dbo].[ItemRequisicao] CHECK CONSTRAINT [FK__ItemRequi__req_i__0B91BA14]
GO
ALTER TABLE [dbo].[MotivoSaida]  WITH CHECK ADD  CONSTRAINT [FK__MotivoSai__cat_i__5CD6CB2B] FOREIGN KEY([cat_id])
REFERENCES [dbo].[categorias] ([cat_id])
GO
ALTER TABLE [dbo].[MotivoSaida] CHECK CONSTRAINT [FK__MotivoSai__cat_i__5CD6CB2B]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [FK__produtos__cat_id__3A81B327] FOREIGN KEY([cat_id])
REFERENCES [dbo].[categorias] ([cat_id])
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [FK__produtos__cat_id__3A81B327]
GO
USE [master]
GO
